.header-container {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #3467ac;
    background-color: silver;
}

.logo-container img {
    height: 48px;
    /*transition: height linear .2s;*/
}

.logo-container img:hover {
    /*height: 96px;*/
    animation: App-logo-spin infinite 1s linear;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 48px;
}
.title {
    font-size: 24px;
    color: #3467ac;
    margin-left: auto;
}

.menu .link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.menu .logged-user {
    color: white;
    padding-right: 8px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}