.super-login-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    border: 1px solid silver;
    border-radius: 4px;
    width: 360px;
}

.login-container .user-container, .login-container .password-container {
    padding: 16px 48px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.login-container .title-login {
    display: flex;
    justify-content: flex-start;
}


.login-container .button-container {
    padding-right: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-container .button-container .error {
    padding-right: 64px;
    color: crimson;
}